<section>
  <h1>About Me</h1>
  <img src="http://www.gravatar.com/avatar/db25ee80e94cf2049167fbef01b96d74">
  <p>I'm a data-focused technologist and advocate of coding for humanity, currently building <a href="http://codemontage.com" target="_blank">CodeMontage</a>. I founded <a href="http://developersforgood.org" target="_blank">Developers for Good</a> and co-founded <a href="http://girldevelopit.com" target="_blank">Girl Develop It</a>. I advise <a href="http://ohours.org" target="_blank">Ohours</a> and scout for awesome open source projects for <a href="http://webfwd.org" target="_blank">Mozilla WebFWD</a>. I love tigers, marshmallows, chai lattes, and really big ideas.</p>
</section>
