<section>
  <h1>Let's Meet</h1>
  <div id="ohours">
    <p>&nbsp;<a href="http://ohours.org/DBNess">My Open Hours</a></p>
  </div>
  <style>
      #ohours { width:150px; text-align:center; padding:0px 15px 15px 0px; margin-top: 10px; }
      #ohours p { line-height:30px; height:30px; margin:0; margin-bottom: 10px;  background-image:url("http://ohours.org/images/office_hours_otter.png"); background-position:50% -10%; background-repeat:no-repeat; }
      #ohours a { display:block; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -ms-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; background-image:url("http://ohours.org/images/button_overlay.png"); background-position:0 50%; background-repeat:repeat-x; text-align:center; text-decoration:none; color:white; text-shadow:1px 1px 0 rgba(51, 51, 51, 0.4); cursor:pointer; overflow:hidden; *zoom:1; background-color:#03877D; padding:5px 10px 10px; font-size:16px; font-weight:bold; border: 2px solid transparent; height:19px; }
      #ohours a:hover { border:2px solid white; }
  </style>
</section>
